body {
    padding : 0;
    margin : 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "OpenSans";
    src: url("resource/font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Gochi";
    src: url("resource/font/GochiHand-Regular.ttf");
}

@font-face {
    font-family: "Candal";
    src: url("resource/font/candal.regular.ttf");
}

/* FOR LOG IN SIGN IN SECTION */
.logBackground {
    background-color: rgb(246, 246, 239);
    text-align: center;
}

.logWrapper {
    flex-wrap: wrap;
    margin-top: 100px;
    text-align: center;
    display: inline-block;
}

.logPic {
    float: left;
    height: 500px;
    width: auto;
    margin-top: 100px;
    margin-right: 80px;
}


.logForm {
    float: left;
    /* padding-top: 50px; */
    flex-wrap: wrap;
    font-family: Gochi;
    font-size: 24px;
    color: black;
    margin-left: 80px;
}

.logFormLeft {
    float: left;
    width: 160px;
    text-align: left;
    margin-left: 60px;
}

.logFormRight {
    float: left;
    width: 200px;
}

.logInput {
    font-size: 18px;
    font-family: OpenSans;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    width: 150px;

    border-color: rgb(205, 203, 171);
    background-color: rgb(251, 251, 247);
    margin-bottom: 20px;
}

.logTitle {
    font-family: Candal;
    font-size: 100px;
    color: rgb(254, 92, 73);
    margin: 0;
    padding-top: 50px;
}

@media only screen and (max-width: 700px){
    .logPic {
        height: 250px;
        position: absolute;
        bottom: 50px;
    }

    .logForm {
        margin-left: 0;
    }
    
    .logTitle {
        padding: 0;
    }
}

.logInfo {
    font-family: Gochi;
    font-size: 28px;
    color: black;
    margin: 0;
}

.logInfoBottom {
    font-family: Gochi;
    font-size: 24px;
    color: black;
    margin-top: 80px;
}

.logBottomLink {
    font-family: OpenSans;
    font-size: 15px;
    color: rgb(189, 197, 72);
    text-decoration: underline;
}

.logButton {
    background-color: rgb(189, 197, 72);
    font-family: Gochi;
    color: white;
    font-size: 24px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

.logFormWrap1 {
    flex-wrap: wrap;
    height: 115px;
}

.logFormWrap2 {
    flex-wrap: wrap;
    height: 310px;
}

/* FOR HOME SECTION */
.homePart1 {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(77, 80, 137);
    text-align: center;
    overflow: hidden;
}

.hp1Left {
    float:left;
    width: 40%;
    background-color: rgb(77, 80, 137);
    padding-top: 100px;
}

.hp2Left {
    float:left;
    width: 55%;
    background-color: rgb(77, 80, 137);
    padding-top: 100px;
    padding-bottom: 100px;
}

.homePart2 {
    height: 100vh;
    min-width: 100vw;
    background-color: white;
    color: black;
    text-align: center;
    object-fit: contain;
}

.fixNav {
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    z-index: 2;
    background-color: rgb(77, 80, 137);
}

.Menu {
    font-family: OpenSans;
    cursor: pointer;
    color: rgb(254, 238, 226);
    border: none;
    background-color: rgb(0,0,0,0);
    z-index: 99;
    padding-right: 12px;
    padding-left: 8px;
}

.barMenu {
    font-size: 30px;
    float: left;
}

.contactMenu {
    font-size: 28px;
    float: right;
    padding-top: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 8px;
}

.leftMenu {
    position: absolute;
    width: 20%;
    min-width: 300px;
    height: 100%;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;
    text-align: right;
}

.rightMenu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0 , 0, 0.5);
}

.menuButton {
    padding: 12px 8px 12px 8px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.menuUser {
    font-size: 26px;
    font-family: OpenSans;
    color: rgb(254, 92, 73);
    padding: 0;
    margin: 0;
    font-weight: 1000;
}

.menuEmail {
    font-size: 18px;
    font-family: OpenSans;
    color: rgb(254, 92, 73);
    padding: 0;
    margin: 0;
}

.menuLogout {
    font-size: 14px;
    font-family: OpenSans;
    color: rgb(254, 92, 73);
    font-style: underline;
    padding: 0;
    margin: 0;
    width: 50px;
    display: inline-block;
}

#orderButton {
    padding: 0;
    display: none;
    text-align: center;
}

#xButton {
    font-family: candal;
    color: rgb(254, 92, 73);
    padding: 0px 8px 8px 8px;
    text-decoration: none;
}

#xButton {
    font-size: 30px;
    margin-right: 15px;
}

#xButton:hover {
    color: rgb(255, 213, 88);
    transition: 0.5s;
}

#sideMenu {
    top: 0;
    width: 0;
    position: fixed;
    overflow: hidden;
    transition: 1s;
}

.hp2Text {
    text-align: center;
    margin-top: 0px;
    color: black;
    height: 100vh;
    float:right;
    width: 75%;
}

.hp2H1 {
    font-family: Gochi;
    font-size: 40px;
    margin: 0;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.hp2P {
    font-family: OpenSans;
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
}

.hp3Info {
    position: absolute;
    left: 20vw;
    margin-top: 25vh;
    width: 30%;
}

.hp3Info p {
    color: rgb(77, 80, 137);
    font-family: OpenSans;
    font-size: 30px;
}


.homePic2 {
    height:100vh; 
    float:left; 
    width: 25%;
}

.shopNewsTitle {
    position: absolute;
    right: 0px;
    height: 400px; 
    width: auto
}

@media only screen and (max-width: 1200px){
    .shopNewsTitle {
        height: 250px;
    }
}
@media only screen and (max-width: 700px){
    .hp1Left, .hp2Left {
        width: 100%
    }

    .hp3Info p {
        font-size: 24px;
    }

    .hp3Info {
        width: 70%;
        left: 25vw;
    }

    .hp2Text {
        width: 93vw;
        padding: 20px;
        background-color: white;
        height: unset;
    }
}
@media only screen and (max-width: 700px){
    .hp3Info {
        width: 55%;
        left: 40vw;
    }
    
    .hp3Info p {
        font-size: 17px;
    }

    .homePic2 {
        width: 100%;
    }
}

/* FOR SHOP.HTML */
.divforTitle {
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    overflow: hidden;
}

.divforTitle p {
    font-family: Candal;
    font-size: 52px;
    margin-left: 250px;
}

.container3 {
    width: 100%;
    height: 70vh;
    flex-wrap: wrap;
    left: 0px;
    right: 50px;
    top: 200px;
    position: relative;
    /* overflow: hidden; */
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: solid rgb(0, 0, 0, 0.5);
    border-width: 3px 0px 0px 0px;
    padding-top: 20px;
}

.iconBlack {
    width: 200px;
    padding: 100px, 10px, 10px, 10px;
    float: left;
}

.iproductQty {
    width: 0vw;
    height: 100vh;
    position: absolute; 
    top: 0; 
    left: 0;
    border-style: none;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
}

/* FOR PRODUCTPIC.HTML */
.bookPic {
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
}

#book p {
    font-family: OpenSans;
    font-size: 24px;
    margin: 0;
}

/* FOR PRODUCTQTY*/
.pqtyWrapper {
    position:absolute;
    width:100vw;
    height:100vh;
    text-align:center; 
    padding-top: 25vh; 
    font-family: Gochi;
    background-color: rgb(0, 0 , 0, 0.7);
    display: none;
}

.pqtyText {
    font-weight: bold; 
    color:white;
    width:520px;
    display: inline-block; 
    margin-bottom: 0; 
    min-height: 105px;
}

.pqtyButton {
    float:left;
    margin-top: 20px;
}

.prdQty {
    float:left;
    margin:0px 30px 0px 30px;
    padding:0;
    font-family: OpenSans; 
    font-size: 55px;
    font-weight: bold;
}

.pqtyDivText {
    position: relative;
    z-index: 2;
    bottom: 370px;
    width: 600px;
    display: inline-block;
}

.prdQtyNum {
    border: none;
    background-color: rgb(246,249,252);
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

/* FOR CART.HTML */
.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container4 {
    flex-wrap: wrap;
    margin-top: 220px;
    text-align: left;
    display: inline-block;
} 

table {
    font-family: OpenSans;
    color: rgb(77, 80, 137);
    border-collapse: collapse;
}

th {
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border-width: 0px 0px 7px 0px;
    border-style: solid;
    border-color: rgb(77, 80, 137);
    border-collapse: collapse;
}

td {
    padding: 10px 20px 10px 20px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(77, 80, 137, 0.5);
    border-collapse: collapse;
}

.totalPrice {
    width: 100%;
    background-color: rgb(77, 80, 137);
    padding: 5px;
    color: white;
    font-size: 15px;
    font-family: yikes;
    font-weight: bold;
    text-align: right;
}

.totalPrice p {
    padding: 0px;
    margin: 0px;
}

.xButton {
    font-size: 20px;
    text-decoration: none;
    color: rgb(189, 197, 72);
    margin-left: 10px;
    font-family: Gochi;
}

#emptyCart {
    font-family: Gochi;
    color: rgb(77, 80, 137);
}