/* ANIMATION */

html {
    scroll-behavior: smooth;
  }

/* BACKGROUND STYLE*/

body {
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Index, Product */

.bg1 {
    background-image: url('resource/bgshop.png');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(249, 159, 141);
    text-align: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

/* Home */
.bgHome {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(254, 221, 140);
    text-align: center;
}
/* FONT */
@font-face {
    font-family: "yikes";
    src: url('Yikes_medium.ttf');
}

@font-face {
    font-family: "microsoftyahei";
    src: url('../Form/msyh.ttc');
}

/* INDEX CONTENT */
.container {
    position: relative;
    text-align: center;
    width: 650px;
    height: 700px;
    display: inline-block;
    padding: 0;
}
.labelPic {
    /* width: 650px; */
    position: relative;
    margin-top: 5vh;
    z-index: -1;
}

.divform {
    position: absolute;
    margin-top: 5vh;
    padding-top: 125px;
    text-align: center;
    font-family: yikes;
    width: 100%;
    z-index: 1;
}

form {
    width: 380px;
    display: inline-block;
}

.titleIndx {
    font-size: 35px;
    color: rgb(234, 168, 118);
}

.input, .select {
    font-size: 15px;
    font-family: microsoftyahei;
    font-weight: bold;
    border-width: 0px 0px 4px 2px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.input {
    width: 210px;
    margin-top: 13px;
    background-color: rgb(242, 179, 140);
    color: rgb(255,229,221);
    border-color: rgb(237,156,125);
}

.select {
    background-color: rgb(245,194,155);
    border-color: rgb(242, 138, 106, 0.7);
    color: rgb(233,133,93);
}

.input:focus {
    background-color: rgb(245,194,155);
    border-width: 0px 0px 4px 2px;
    border-color: rgb(238,177,131);
    border-style: solid;
    color: rgb(233,133,93);
}

.leftDiv {
    float: left;
    width: 30%;
    font-size: 20px;
    text-align: left;
    color: rgb(165,91,91);
    height: 182px;
}

.rightDiv {
    float: right;
    width: 65%;
    text-align: left;
    padding-top: 2px;
    height: 180px;
}

#nb {
    font-size: 13px;
    color: rgb(203, 130, 112);
    margin: 0;
    padding-top: 3px;
}

#notify {
    font-size: 14px;
    color: rgb(165,91,91);
}

.button {
    border-radius: 5px;
    padding: 7px 14px 7px 14px;
    background-color: rgb(231,125,125);
    border-color: rgb(236,166,152);
    font-family: yikes;
    font-weight: bold;
    font-size: 13px;
    color: rgb(255,229,221);
    margin-top: 10px;
}

.button:hover {
    background-color: rgb(253,121,111);
}

.button:focus {
    background-color: rgb(246,102,102);
}

.memoire {
    height: 180px;
    width: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: 2s;
}

@media only screen and (max-width: 700px){
    .memoire {
        height: 80px;
    }
}

@media only screen and (max-height: 600px){
    .memoire {
        visibility: hidden;
    }
}

/* HOME CONTENT */
.bgPic {
    width: 100%;
    height: auto;
}

.bgSmoke {
    padding-top: 200px;
    opacity: 0.7;
}

.bgEnd {
    padding-top: 50px;
    position: relative;
    bottom: -100px;
}

.fixNav {
    width: 100%;
    height: 50px;
    top: 0;
    position: absolute;
    z-index: 2;
}

.homemainPic {
    width:95vw;
    right:20px;
}

.Menu {
    font-family: yikes;
    cursor: pointer;
    color: rgb(254, 238, 226);
    border: none;
    background-color: rgb(0,0,0,0);
    z-index: 3;
    padding-right: 12px;
    padding-left: 8px;
}

.barMenu {
    font-size: 30px;
    float: left;
}

.faqMenu {
    font-size: 28px;
    float: right;
    padding-top: 12px;
    text-decoration: none;
}

.leftMenu {
    position: absolute;
    width: 20%;
    min-width: 300px;
    height: 100%;
    background-color: rgb(252, 189, 140);
    overflow: hidden;
    transition: 0.5s;
    text-align: right;
}

.rightMenu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0 , 0, 0.5);
}

.fadein {
    animation-name: fadein;
    animation-duration: 1.5s;
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 1s;
}

.menuButton {
    font-family: yikes;
    font-size: 25px;
    color: rgb(254, 238, 226);
    padding: 12px 8px 12px 8px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.buttonBorder {
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(254, 238, 226, 0.5);
}

.menuButton:hover {
    background-color: rgb(253, 157, 119);
    transition: 0.7s;
}

/* Id xButton used in menu, class xButton used in cart */
#xButton, .xButton {
    font-family: yikes;
    color: rgb(254, 238, 226);
    padding: 0px 8px 8px 8px;
    text-decoration: none;
}

#xButton {
    font-size: 30px;
    margin-right: 15px;
}

#xButton:hover {
    color: rgb(253, 157, 119);
    transition: 0.5s;
}

.xButton {
    font-size: 20px;
}

#sideMenu {
    top: 0;
    width: 0;
    position: fixed;
    overflow: hidden;
    transition: 1s;
}

.content {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.authorPic {
    height: 200px;
    width: auto;
    float: left;
    padding-right: 20px
}

.helloText {
    max-width: 850px;
    text-align: left;
    display: inline-block;
    font-size: 23px;
    font-family: yikes;
    color: rgb(246, 146, 84);
    margin-top: 300px;
    margin-bottom: 300px;
}

.helloText p {
    padding: 0;
    margin: 0;
}

fieldset {
    background-color: rgb(244, 179, 121);
    border: none;
    width: 350px;
    font-family: yikes;
    color: rgb(255, 251, 205);
    border-radius: 30px;
    display: inline-block;
    margin-right: 50px;
}

fieldset legend {
    background-color: rgb(250, 140, 99);
    padding: 10px 25px 7px 25px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
}

fieldset p {
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

.container2 {
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
}

.homeContainer {
    width: 100%;
    margin-top: 100px;
}

.newproductDiv {
    flex-wrap: wrap;
    color: rgb(250, 140, 99);
    font-family: yikes;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin-left: 50px;
}

.imageNP {
    height: 210px;
    width: auto;
    padding-right: 10px;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    z-index: 2;
    position: relative;
    bottom: 100px;
    display: inline-block;
}

.li {
    float: left;
    background-color: rgb(245, 167, 109);
    border-radius: 20px;
    margin-right: 2px;
    margin-left: 2px;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px 2px 5px;
    text-decoration: none;
    font-family: "montserrat";
}

.li:hover {
    background-color: rgb(242, 138, 106);
}

.liPic {
    width: 20px;
    height: 20px;
}

.gotoTop {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
    animation-name: slidy;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 700px) {
    .testing {
        width: 100vw;
        display: inline-block;
        text-align: center;
    }
    .authorPic {
        display: inline-block;
        float: none;
    }
    .helloText {
        text-align: center;
    }
    fieldset {
        margin: 0px;
    }
    .newproductDiv {
        margin: 0px;
    }
    .homemainPic {
        scale: 1.5;
    }
}

/* animation for home */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@keyframes slidy {
    0% {
      margin-bottom: 0%;
    }
    10% {
      margin-bottom: 15px;
    }
    20% {
        margin-bottom: 5px
    }
    40% {
        margin-bottom: 18px;
    }
    60% {
      margin-bottom: 0%;
    }
    100% {
        margin-bottom: 0%;
    }
}

/* Product */

.divforTitle {
    width: 100%;
    text-align: center;
}
.shopTitle {
    height: 140px;
    width: auto;
    display: inline-block;
}

.fixed {
    position: fixed;
    overflow: hidden;
}

.container3 {
    width: 100%;
    height: 75vh;
    flex-wrap: wrap;
    left: 0px;
    right: 50px;
    top: 180px;
    position: relative;
    overflow: hidden;
    border-top: solid rgb(242, 138, 106, 0.5);
    border-width: 3px 0px 0px 0px;
}

.iframeProduct{
    background-color: transparent;
    padding-bottom: 200px;
    padding-left: 50px;
}

.iframeProduct a{
    text-decoration: none;
}

.productPic {
    width: 250px;
    padding: 10px;
}

.imgtxtDiv:hover div {
    visibility: visible;
}

.imgtxtDiv:hover img {
    filter: brightness(50%);
    background-color: rgb(254, 219, 172);
    cursor: pointer;
    transition: 1s;
}

.imgtxtDiv {
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    display: inline-block;
}

.imgtxtDiv div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    color: white;
    font-family: yikes;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(163,61,59);
}

/* Product Desc */

/* wrapper and container4 also used in cart.html */
.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}
.container4 {
    flex-wrap: wrap;
    margin-top: 120px;
    text-align: left;
    display: inline-block;
} 

.text {
    font-family: yikes;
    color: rgb(255, 242, 204);
    padding: 0;
    margin: 0;
    display: inline-block;
    max-width: 600px;
}

.description {
    font-size: 18px;
    margin-left: 50px;
}

.title {
    font-weight: bold;
    font-size: 38px;
    text-shadow: 2px 3px rgb(248, 131, 104);
}

.descImg {
    float: left;
    margin-top: 20px;
    padding: 10px;
    width: 350px;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(248, 131, 104);
}

.button2 {
    border-radius: 5px;
    border: none;
    padding: 7px 14px 7px 14px;
    background-color: rgb(252, 189,140);
    font-family: yikes;
    font-weight: bold;
    font-size: 18px;
    color: rgb(242, 138, 106);
    margin-top: 10px;
}

.button2:hover {
    color: rgb(252, 189,140);
    background-color: rgb(242, 138, 106);
}

@media only screen and (max-width: 700px){
    .container4 {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 100px;
    }
    .description, .descImg {
        margin: 0;
    }
    .shopTitle {
        margin-top: 25px
    }
}

/* FOR CART.HTML */
table {
    font-family: yikes;
    color: rgb(255, 242, 204);
    border-collapse: collapse;
}

th {
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border-width: 0px 0px 7px 0px;
    border-style: solid;
    border-color: rgb(252, 189, 140);
    border-collapse: collapse;
}

tr {
    padding: 10px 20px 10px 20px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(252, 189, 140);
    border-collapse: collapse;
}

td {
    min-width: 30px;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
    margin: 20px;
}

.bitPic {
    width: 100px;
    height: auto;
    display: inline-block;
}

#emptyCart {
    font-family: yikes;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 242, 204);
}

.totalPrice {
    width: 100%;
    background-color: rgb(252, 189, 140);
    padding: 5px;
    color: rgb(248, 131, 104);
    font-size: 15px;
    font-family: yikes;
    font-weight: bold;
    text-align: right;
}

.totalPrice p {
    padding: 0px;
    margin: 0px;
}

.marginTop {
    margin-top: 80px;
}

.clickMe {
    text-decoration: none;
    color: rgb(254, 238, 226);
    margin: 0;
    font-weight: bold;
}

/* FOR ABOUT.HTML */

.memoireAbout {
    display: inline-block;
    position: relative;
    height: 200px;
}

@media only screen and (max-width: 700px) {
    .memoireAbout {
        padding-top: 50px;
        height: 130px;
    }
    .textAbout {
        max-width: 100px;
    }
}

.textAbout {
    font-family: yikes;
    color: rgb(255, 242, 204);
    padding: 10px;
    margin: 0;
    display: inline-block;
    max-width: 700px;
    font-size: 18px;
}

/* FOR FAQ.HTML */

.faqText {
    max-width: 850px;
    text-align: left;
    display: inline-block;
    font-size: 23px;
    font-family: yikes;
    color: rgb(255, 242, 204);
    margin-top: 150px;
    margin-bottom: 80px;
}

#tableFaq td {
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .faqText {
        text-align: center;
    }
}
/* FOR CHECKOUT.HTML */

.coText {
    font-family: yikes;
    color: rgb(255, 242, 204);
    max-width: 600px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.coTitle {
    font-size: 25px;
    margin: 0;
}

.coContent {
    font-size: 18px;
    margin: 0;
}

.authorBread {
    height: 200px;
    width: auto;
    margin-top: 200px;
}

